# Strata frontend environment
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_STRATA_REGISTRY_ADDRESS=
NEXT_PUBLIC_EAS_ADDRESS=
NEXT_PUBLIC_EAS_SCHEMA_UID=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_ENGINE_URL=http://localhost:8000
